
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all 0.4s ease;;
}
/* ===== Colours ===== */
:root{
  --body-color: #E4E9F7;
  --nav-color: #fff;
  --side-nav: #010718;
  --text-color: #000;
}
body{
  height: 100vh;
  background-color: transparent;
  background: hsla(0, 0%, 0%, .9);
  overflow: auto;
}

body.dark{
  --body-color: #18191A;
  --nav-color: #242526;
  --side-nav: #242526;
  --search-bar: #242526;
}
nav{
  position: sticky;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: hsla(0, 0%, 0%, .9);
  z-index: 100;
}
body.dark nav{
  border: 1px solid #393838;
}
nav .nav-bar{
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background-color: hsla(0, 0%, 0%, .9);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-bar .sidebarOpen{
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}
nav .nav-bar .logo a{
  font-size: 25px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}
.logo{
  margin-top: 5px;
}
.logo-tarang{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.menu .logo-toggle{
  display: none;
}
.nav-bar .nav-links{
  display: flex;
  align-items: center;
}
.nav-bar .nav-links li{
  margin: 0 5px;
  list-style: none;
}
.nav-links li a{
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

.btns:hover {
  border-bottom: 4px solid rgb(245, 89, 28);
  border-right: 4px solid rgb(245, 89, 28);
  padding-bottom: 5px;
  transition:0.2s;
  font-size: 1rem;
  padding: .25rem;
}
.main-container{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-top: -5rem;
}
.custom-btn{
width: 80px;
height: 40px;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 25px;
font-family: 'Lato', sans-serif;
font-weight: 500;
background: transparent;
cursor: pointer;
transition: all 0.3s ease;
position: relative;
display: inline-block;
outline: none;
}



.tarang-style {
height: 5rem;
width: 24rem;
display: block;
z-index: 1;
}


.container {
height: 75vh;
margin:1rem ;
}
svg {
height: 25rem;
width: 100%;
position: relative;
}



@media (max-width: 790px) {
  nav .nav-bar .sidebarOpen{
      display: block;
      color: #fff;
  }
  .menu{
      position: fixed;
      height: 100%;
      width: 320px;
      left: -100%;
      top: 0;
      padding: 20px;
      background-color: var(--side-nav);
      color: #fff;
      z-index: 100;
      transition: all 0.4s ease;
  }
  nav.active .menu{
      left: -0%;
  }
  nav.active .nav-bar .navLogo a{
      opacity: 0;
      transition: all 0.3s ease;
  }
  .menu .logo-toggle{
      display: block;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .logo-toggle .siderbarClose{
      color: #fff;
      font-size: 24px;
      cursor: pointer;
  }
  .nav-bar .nav-links{
      flex-direction: column;
      padding-top: 30px;
  }
  .nav-bar .nav-links li{
    margin: none;
    padding: 1.95rem;
  }
  .nav-links li a{
      display: block;
      margin-top: 20px;
      color: var(--nav-color);
  }
  nav .nav-bar .logo a{
      color: var(--nav-color);
  }
  
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(56, 29, 29, 0.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.btn-hover {
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
      line-height: 42px;
      padding: 0;
      border: none;
    }
    .btn-hover span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .btn-hover:before{
       height: 0%;
       width: 2px;
    }
    .btn-hover:after {
      width: 0%;
      height: 2px;
    }
    .btn-hover:hover{
      background: transparent;
    }
    .btn-hover:hover:before {
      height: 100%;
    }
    .btn-hover:hover:after {
      width: 100%;
    }
    
    .btn-hover span:before {
      width: 2px;
      height: 0%;
    }
    .btn-hover span:after {
      height: 2px;
      width: 0%;
    }
    .btn-hover span:hover:before {
      height: 100%;
    }
    .btn-hover span:hover:after {
      width: 100%;
    }
    
      
}


footer {
color: #fff;
text-align: center;
padding: 5px;
position: static;
bottom: 5%;
width: 100%;
z-index: 2;
}

.popup {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 2;
      }

      .popup-content {
          background-color: white;
          width: 400px;
          margin: 100px auto;
          padding: 20px;
          border-radius: 5px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      }

      /* Styles for the close button */
      .close {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
      }

      .popup-content h2{
        text-align: center;
      }
    
    .about{
      position: static;
      bottom: 4%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      color: #fff;
      background-color: #000;
      letter-spacing: 3px;
      margin-top: 3.5rem;
    }
    .about h2{
      text-align: center;
      width: 100%;
    }
    .about1{
      margin: 1rem;
      font-size: 1rem;
    }
    .about2{
      margin-bottom: 1rem;
    }


.events-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}
.events{
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}
.event-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
  text-shadow: 0px 5px 10px;
  text-shadow : 3px 3px 0px #222, 5px 5px 0px rgb(245, 89, 28); 
   
}

    .cardContainer
{
    width: 19rem;
    height: 16rem;
    margin-bottom: 3.5rem;
    float: left; 
}
.cardContainer a{
  text-decoration: none;
}


img
{
   border-radius: 10px;
}


.back p
{
    position: absolute;
    top: 50px;
    font-size: 15px;
}
.back h3{
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  bottom: 25%;
  left: 5%;

}
.back .participate-btn{
    border-radius: 5px;
    font-size: 1.3rem;
    width: 16rem;
    position: relative;
    bottom: 23%;
    left: 5%;
    /* background-color: #4ebce8; */
    background-color: rgb(245, 89, 28);
    color: #fff;
    border: none;
    border: none;
}
.back .participate-btn:hover{
  background-color: transparent;
border: 2px solid rgb(245, 89, 28);
color: rgb(245, 89, 28);
}

.back .participate-btn2{
  border-radius: 5px;
  font-size: 1.3rem;
  width: 17rem;
  position: relative;
  bottom: 15%;
  left: 2%;
  /* background-color: #4ebce8; */
  background-color: rgb(245, 89, 28);
  color: #fff;
  border: none;
}
.back .participate-btn2:hover{
background-color: transparent;
border: 2px solid rgb(245, 89, 28);
color: rgb(245, 89, 28);
}

.front h2
{
    position: absolute;
    padding: 10px;
    bottom: 1px;
    text-align: center;
}
.front p{
  text-align: center;
  background-color: #fff;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 5px;
  width: 17rem;
}

/* style the maincontainer class with all child div's of class .front */
.cardContainer > .front
{   
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    
    width: 18rem;
    height: 17rem;
    
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
}
.front img{
  background-color: #fff;
  height: 16rem;
  width:17rem;
  
}

/* style the maincontainer class with all child div's of class .back */
.cardContainer > .back
{
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    background: #fff;
    color: #262626;
    width: 18rem;
    height: 18rem;
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
}

.cardContainer:hover > .front
{
    transform: perspective(600px) rotateY(-180deg);
}

.cardContainer:hover > .back
{
    transform: perspective(600px) rotateY(0deg);
}
.cardContainer h2{
  text-align: center;
  font-weight: 600;
  color: rgb(245, 89, 28);
}

.cardContainer .ruleBook{
  padding: auto;
  height: 2.5rem;
  width: 8rem;
  /* border: 2px solid rgb(245, 89, 28);
  background-color: rgb(245, 89, 28); */
  border: none;
  background-color: #4ebce8;
  border-radius: 5px;
  margin: 5rem;
  color: #000;
  text-align: center;
  font-size: 1rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.cardContainer button:hover{
  border: 2px solid #4ebce8;
  color: #4ebce8;
  font-weight: 500;
  transition: .25s;
  background-color: #fff;
}

@media(max-width:415px){
  .cardContainer{
   margin-left: 3.5rem;
   height: 18;
   width: 19rem;
   float: none;
  }
  .centeredBox{
    margin-left: 1rem;
  }
 
  .events-container{
    justify-content: end;
  }
  .main-container{
    margin-top: -15rem;
  }
  .college-title:first-child{
    display: none;
  }
  .college-title:last-child{
    display: block;
  }
  .faculties button{
    margin-left:1.45rem; 
  }

  

}

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.centeredBox {
  position: static;
	width: 90%;
	text-align: center;
  color: whitesmoke;
  background: transparent;
  font-size: 2rem;
}
#typewriter{
  font-family: 'Monoton', cursive;
  font-weight: normal;
}
.cursor {
	border-left: 4px solid rgb(245, 89, 28);
}

.college-title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.college-title h1{  
  font-family: 'Monoton', cursive;
  text-transform: uppercase;
  color: whitesmoke;
  background: transparent;
  font-weight: normal;
  background-color: transparent;
  text-decoration: 1px underline double;
}


.launch-time{
  display:flex ;
  /* justify-content: space-evenly; */
  justify-content: center;
  align-items: center;
}
.launch-time div{
  flex-basis: 100px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  margin: .75rem;
  text-align: center;
}
.launch-time div p{
  color: #000;
  font-size: 60px;
  margin-bottom: -14px;
}
.launch-time div span{
  color: #000;
}



.display2{
  display: none;
}



/* Styling for Footer  */

.footer {
	width: 100%;
	background: #000;
	display: block;
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: rgb(245, 89, 28);
	color: rgb(245, 89, 28);
	background-color: rgb(245, 89, 28);
	border: 0px;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: rgb(245, 89, 28);
}

ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #000;
	color: #fff;
	font-size: 12px;
	text-align: center;
}


@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}




/* All code written and design by Abhishek Kumar from Government Engineering College Vaishali 23 batch */

/* Image Slider Style */
.slider {
  max-width: 1000px;
  margin: 0 auto;
}
.slick-slide {
  margin: 0 5px;
}
.slick-list {
  margin: 0px -5px 0px -5px;
}
button.slick-next, button.slick-next:hover {
  position: absolute;
  top: 41%;
  right: 54px;
  width: 47px;
  height: 75px;
  background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
  background-size: 95px;
}
button.slick-prev, button.slick-prev:hover {
  position: absolute;
  top: 41%;
  left: 15px;
  z-index: 1;
  width: 47px;
  height: 75px;
  background-size: 95px;
      background-position-x: right;
}
.slick-prev:before, .slick-next:before {
  font-size: 70px;
  color: #EA8496;
  line-height: inherit;
  font-weight: bold;
}
.slider img {
  height: 324px;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

   }
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '';
}
[dir='rtl'] .slick-prev:before
{
    content: '';
    font-weight: bold;
    font-size: 20px;
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '';
}
[dir='rtl'] .slick-next:before
{
    content: '';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


.faculties{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
  flex-wrap: wrap;
}
.faculties button{
  text-align: center;
  background-color: rgb(245, 89, 28);
  color: #fff;
  width: 20rem;
  font-size: 1.25rem;
  border-radius: 8px;
  height: 4rem;
  padding: 1rem;
}
.faculties button:hover{
  background-color: transparent;
  border: 2px solid rgb(245, 89, 28);
  color: rgb(245, 89, 28);
  font-weight: 500;
}

.facultyBtn{
  width: 13.5rem;
}


/* Popup container for display message Style */
/* styles.css */

.popup2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.wel-popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.wel-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.wel-popup-content h1{
    font-size: 1.29rem;
}

.general-rule{
  background-color: rgb(245, 89, 28);
  color: #fff;
  height: 2.25rem;
  width: 8rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.general-rule:hover{
  background-color: transparent;
  border: 2px solid rgb(245, 89, 28);
  color: #000;
}
.location{
  margin-left: 1rem;
  font-size: 1.25rem;
}


.noc-style{
  width: 90%;
  margin: auto;
}


.registrationStatus{
  width:22rem ;
  margin: auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: .5rem;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
}